    .header_sign{
		width: 80px;
		height: 6px;
		background-color: #00AC71;
		position: absolute;
		left: 864px;
		top: 72px;
	    }
	.guidance p{
			text-align: left;
			margin: 30px auto 60px 30px;
			font-size: 24px;
			color: #00AC71;
		}
		.form_list{
			width: 100%;
			height: 1500px;
			margin-bottom: 60px;
			padding-top: 60px;
			border: 1px solid #00AC71;
		}
		.form_list ol{
			text-align: left;
			margin: 10px 0 10px 20px;
			font-size: 18px;
		}
		.form_list li{
			margin: 30px 20px;
			font-size: 22px;
		}
		.form_list label{
			margin-bottom: 10px;
		}
		.form_list hr{
			text-align: center;
	        width: 1000px;
	        color: #00AC71;
		}

		.select_{
			width: 100%;
			height: 200px;
			margin-top: 30px;
			margin-bottom: 30px;
			position: relative;
			/*border: 1px solid black;*/
		}
		.select_ways{
			position: absolute;
			top: 30px;
            left: 50px;
			/*border:1px solid black ;*/
		}
		.select_number{
            position:absolute ;
            left: 160px;
            top: 30px;
		}
		.select_ways select{
			color: #00AC71;
			position: absolute;
			left: 0px;
			top: 60px;
		}
		.select_ways p{
			font-size: 24px;
			color: #00AC71;
		}

		.select_ways input{
			font-size: x-large;
			position: absolute;
			left: 140px;
			top: 60px;
		}
		/*
		 * .number_line{
			width: 550px;
			height: 2px;
			background-color: #00AC71;
			position: absolute;
			left: 60px;
			top: 90px;	
		}
		*/
        .meseage_{
        	width: 100%;
        	margin-top: 30px;
        	/*border: 1px solid black;*/
        	position: relative;
        }
        .meseage_ p{
        	text-align: left;
        	margin-left: 50px;
			font-size: 24px;
			color: #00AC71;	
        }
        .meseage_ textarea{
        	margin-left: -400px;
        	margin-top: 30px;
        }
        .submit_form{
        	width: 100%;
        	margin-top: 50px;
        }
        .submit_form input{      	
        	width: 300px;
        	height: 40px;
        	margin-bottom: 20px;
        }
